


body{
	text-align:center;
	background-color:#f6eeba;
}
canvas{

	
}
button{
	border:2px outset black;
	background-color:black;
	color:black;
	width:604px;
	height:40px;
	background-repeat: no-repeat;
	background-size:200px 40px;
  background-position: center;

}

.hidden{
	display:none;
}

#logo{
	width:300px
}